* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1.6em;
}

body {
	/*background: chartreuse;*/
	font-size: 20px;
	font-family: Helvetica, sans-serif, sans;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

main {
	max-width: 40em;
	grid-area: five;
	flex: 1 1 40em;
}

h1,h2,h3,h4,h5,h6,p {
	margin-bottom: 1em;
}

.presenter {
	cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="100" style="font-size: 50px;"><text y="50">👩‍🏫</text></svg>'), auto;
}

.action {
	padding: 1em;
	border: 1px solid coral;
}

ul {
	padding-left: 1em;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
